<footer
  class="mt-10 w-full border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-6 pb-20 gap-y-10">
  <span
    class="text-primary text-center md:text-left border-b-2 pb-6 md:pb-0 md:border-b-0 w-full"
    >© 2024 La Velada del Año
    <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden="true" class="md:hidden" />
    Todos los derechos reservados.</span
  >
  <ul class="flex flex-row gap-x-6 justify-center">
    <li>
      <a
        target="_blank"
        href="instagram.com"
        rel="noopener"
        class="hover:scale-125 hover:opacity-70 transition inline-block">
        <!-- el inline block en este class es por que el scale en el ancor no lo detecta por que esta inline -->
        <img src="/instagram.svg" alt="Logo de Instagram" />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="x.com"
        rel="noopener"
        class="hover:scale-125 hover:opacity-70 transition inline-block">
        <!-- el inline block en este class es por que el scale en el ancor no lo detecta por que esta inline -->
        <img src="/x.svg" alt="Logo de x" />
      </a>
    </li>
  </ul>
</footer>
