---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center ">
  <span
    class="animate-fade-in-up animate-delay-300 uppercase text-secondary text-2xl bg-primary px-8 py-5 mb-9"
    >presentacion de la</span
  >
  <HeroLogo class="text-primary animate-fade-in-up w-[300px] h-full md:w-[600px]" />
</section>
